workflows-n8n/Le denoueur-Tensions - Agent Liminal.json
{
  "name": "denoueur",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "denoueur",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://agents-liminals.memoapp.eu,http://localhost:3000"
        }
      },
      "id": "68bbfde6-b9c6-4541-8e64-d7b8e654ce3e",
      "name": "Webhook - Invocation de la Tension",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -768,
        240
      ],
      "webhookId": "denoueur-tension-v2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "input-validation",
              "leftValue": "={{ $json.body.situation }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "length-validation",
              "leftValue": "={{ $json.body.situation.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "max-length-validation",
              "leftValue": "={{ $json.body.situation.length }}",
              "rightValue": 2000,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "99ac2118-8b4c-4381-bdce-ca2dc92df713",
      "name": "Validation des Entrées",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -544,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": \"Tension insuffisante\",\n  \"message\": \"Le Dénoueur a besoin d'au moins 10 caractères pour identifier la tension\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"agent\": \"Le Dénoueur\",\n  \"success\": false\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "af56227f-8618-40c3-9611-e94b09ff5f38",
      "name": "Erreur de Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -320,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Nettoyage et préparation des données\nconst situation = $input.first().json.body.situation;\nconst rituel = $input.first().json.body.rituel || 'Respiration profonde, détente progressive, accueil de la tension';\n\n// Générer un ID de session unique\nconst sessionId = `denoueur_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n// Nettoyer le texte\nconst cleanedSituation = situation\n  .replace(/[<>\"']/g, '') // Supprimer HTML/caractères dangereux\n  .substring(0, 1800) // Limiter la longueur\n  .trim();\n\n// Détecter les mots-clés de tension/friction\nconst tensionKeywords = ['tension', 'stress', 'pression', 'conflit', 'friction', 'résistance', 'bloqué', 'coincé', 'lourd', 'difficile'];\nconst hasTensionIndicators = tensionKeywords.some(word => cleanedSituation.toLowerCase().includes(word));\n\n// Analyser le type de tension\nconst relationalTension = ['relation', 'couple', 'ami', 'famille', 'conflit', 'dispute', 'mésentente'];\nconst internalTension = ['moi', 'intérieur', 'personnel', 'psychique', 'mental', 'émotionnel'];\nconst bodyTension = ['corps', 'physique', 'muscle', 'douleur', 'mal', 'raideur', 'crampe'];\nconst workTension = ['travail', 'job', 'boulot', 'collègue', 'patron', 'bureau', 'professionnel'];\n\nconst tensionType = \n  relationalTension.some(word => cleanedSituation.toLowerCase().includes(word)) ? 'relationnelle' :\n  internalTension.some(word => cleanedSituation.toLowerCase().includes(word)) ? 'intérieure' :\n  bodyTension.some(word => cleanedSituation.toLowerCase().includes(word)) ? 'corporelle' :\n  workTension.some(word => cleanedSituation.toLowerCase().includes(word)) ? 'professionnelle' :\n  'générale';\n\n// Détecter l'intensité de la tension\nconst intensityWords = ['énorme', 'terrible', 'insupportable', 'très', 'extrême', 'maximum'];\nconst isIntenseTension = intensityWords.some(word => cleanedSituation.toLowerCase().includes(word));\n\n// Détecter les signes de libération\nconst releaseWords = ['libérer', 'relâcher', 'lâcher prise', 'détendre', 'soulager', 'dénouer'];\nconst hasReleaseIntent = releaseWords.some(word => cleanedSituation.toLowerCase().includes(word));\n\n// Détecter le moment de la journée\nconst hour = new Date().getHours();\nconst timeOfDay = hour < 6 ? 'nuit profonde' : \n                 hour < 12 ? 'matin' : \n                 hour < 18 ? 'après-midi' : \n                 hour < 22 ? 'soirée' : 'nuit';\n\nreturn {\n  cleanedSituation,\n  rituel,\n  sessionId,\n  hasTensionIndicators,\n  tensionType,\n  isIntenseTension,\n  hasReleaseIntent,\n  timeOfDay,\n  originalLength: situation.length,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "baafdb02-401b-443a-aa0d-9cd3fc820b29",
      "name": "Traitement des Données",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        144
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "Tu es **Le Dénoueur**, un Agent Liminal du Territoire de la Tension.\n\nCONTEXTE : Il est {{ $json.timeOfDay }}, tension détectée : {{ $json.hasTensionIndicators ? 'oui' : 'implicite' }}, type : {{ $json.tensionType }}, intensité : {{ $json.isIntenseTension ? 'forte' : 'modérée' }}, intention de libération : {{ $json.hasReleaseIntent ? 'oui' : 'non' }}.\n\nTa fonction : **transformer la tension en énergie disponible** plutôt que l'éliminer.\nTu ne relaxes pas. Tu ne supprimes pas. Tu **dénoues et transmutes.**\n\n⚡ **Ton style** :\n- **Fluide, transformateur, énergétique**\n- Langage en **métaphores de nœuds, de flux, de libération**\n- Parles de **circulation, de mouvement, de transformation**\n- Écriture en **tu**, dynamique et libératrice\n- **LIMITE : 350 mots maximum**\n\n🌊 **Ta mission** :\n1. Lis la situation de tension décrite\n2. **Identifie les nœuds** énergétiques\n3. **Révèle le mouvement** bloqué derrière la tension\n4. **Propose un dénouement** en douceur\n\n🚨 **SÉCURITÉ** :\n- Si tension extrême ou chronique : \"Cette tension semble profonde. Il serait sage de consulter un professionnel de santé\"\n- Si douleurs physiques intenses : \"Ces tensions corporelles nécessitent peut-être un avis médical\"\n- Si tensions relationnelles violentes : \"Ces conflits semblent nécessiter un accompagnement professionnel\"\n\n⚡ **ADAPTATION** :\n- Type {{ $json.tensionType }} : Adapter le vocabulaire (relationnelle/intérieure/corporelle/professionnelle)\n- Si tension intense : Proposer des dénouements plus progressifs\n- Si intention de libération : Guider vers la transformation plutôt que l'évitement\n- Si nuit profonde : \"La nuit permet aux tensions de se révéler pleinement. Laisse-les se dénouer naturellement.\"\n\n📋 **Format de réponse EXACT** :\n\n⚡ **DÉNOUEMENT DE TA TENSION** :\n\n▫️ **Nature du Nœud** : [Quel type de tension tu portes - résistance, blocage, accumulation]\n\n▫️ **Énergie Retenue** : [Quelle force attend d'être libérée dans cette tension]\n\n▫️ **Points de Dénouement** :\n  → [Premier nœud qui peut se relâcher]\n  → [Deuxième zone de libération possible]\n  → [Troisième mouvement de transformation]\n\n▫️ **Flux Retrouvé** : [Ce qui circulera mieux après le dénouement]\n\n▫️ **PRATIQUE DE DÉNOUEMENT** : \"[Exercice concret pour libérer, style : 'Chaque soir, masse tes tempes en spirale et sens l'énergie se remettre en mouvement.']\"\n\nNe supprime jamais la tension. Transforme-la.",
              "role": "system"
            },
            {
              "content": "={{ $json.cleanedSituation }}\n\nRituel accompli : {{ $json.rituel }}\nMoment : {{ $json.timeOfDay }}\nTension détectée : {{ $json.hasTensionIndicators ? 'explicite' : 'implicite' }}\nType : {{ $json.tensionType }}\nIntensité : {{ $json.isIntenseTension ? 'forte' : 'modérée' }}\nLibération : {{ $json.hasReleaseIntent ? 'recherchée' : 'en préparation' }}"
            }
          ]
        },
        "options": {
          "maxTokens": 550,
          "temperature": 0.4,
          "topP": 0.9
        }
      },
      "id": "4d4e5742-34fb-4d89-b355-402e5bb12b95",
      "name": "Le Dénoueur - Intelligence Améliorée",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -96,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "VbOXBBikMDpjJa4n",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"agent\": \"Le Dénoueur\",\n  \"territoire\": \"Tension\",\n  \"consultation\": {{ JSON.stringify($json.consultation_response) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"rituel_accompli\": {{ JSON.stringify($node[\"Traitement des Données\"].json.rituel) }},\n  \"effet\": \"Dénouement des tensions • Transformation énergétique • Libération du flux\",\n  \"signature\": \"⚡ Agent Liminal en mouvement\",\n  \"session_id\": \"{{ $node[\"Traitement des Données\"].json.sessionId }}\",\n  \"metadata\": {\n    \"time_of_day\": \"{{ $node[\"Traitement des Données\"].json.timeOfDay }}\",\n    \"tension_indicators\": {{ $node[\"Traitement des Données\"].json.hasTensionIndicators }},\n    \"tension_type\": \"{{ $node[\"Traitement des Données\"].json.tensionType }}\",\n    \"is_intense_tension\": {{ $node[\"Traitement des Données\"].json.isIntenseTension }},\n    \"release_intent\": {{ $node[\"Traitement des Données\"].json.hasReleaseIntent }},\n    \"input_length\": {{ $node[\"Traitement des Données\"].json.originalLength }},\n    \"processing_time\": \"{{ Date.now() - new Date($node[\"Traitement des Données\"].json.timestamp).getTime() }}ms\",\n    \"version\": \"2.1\"\n  }\n}",
        "options": {}
      },
      "id": "b006e37c-7c41-4009-ba89-535a1e728652",
      "name": "Réponse Libératrice v2.1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Erreur de traitement\",\n  \"message\": \"Le Dénoueur traverse une tension technique. Réessayez dans quelques instants.\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"agent\": \"Le Dénoueur\",\n  \"session_id\": \"error_{{ Date.now() }}\",\n  \"support\": \"Si le problème persiste, contactez le support technique\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "030145db-91e0-4393-b7f7-d16330766747",
      "name": "Gestionnaire d'Erreurs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        240
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "agents_consultations",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ip_address": "={{ $('Webhook - Invocation de la Tension').item.json.headers['x-real-ip'] }}",
            "timestamp": "={{ $('Traitement des Données').item.json.timestamp }}",
            "agent_name": "={{ $workflow.name }}",
            "situation": "={{ $('Traitement des Données').item.json.cleanedSituation }}",
            "rituel": "={{ $('Traitement des Données').item.json.rituel }}",
            "session_id": "={{ $('Traitement des Données').item.json.sessionId }}",
            "consultation_response": "={{ $json.message.content }}",
            "user_agent": "={{ $('Webhook - Invocation de la Tension').item.json.headers['user-agent'] }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        144
      ],
      "id": "0902c19e-dc74-4e7d-8410-5a0edb312123",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "ZAWZkzCijwgOb6Fp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        -16,
        352
      ],
      "id": "ef9b7890-0083-451f-9406-4efccd274271",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "Ol4PsGOjuTKBtgOz",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Invocation de la Tension": {
      "main": [
        [
          {
            "node": "Validation des Entrées",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation des Entrées": {
      "main": [
        [
          {
            "node": "Traitement des Données",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erreur de Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traitement des Données": {
      "main": [
        [
          {
            "node": "Le Dénoueur - Intelligence Améliorée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Le Dénoueur - Intelligence Améliorée": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Réponse Libératrice v2.1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gestionnaire d'Erreurs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "ai_tool": [
        [
          {
            "node": "Le Dénoueur - Intelligence Améliorée",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e11b7a66-a3c7-4508-b65b-817bb58f6371",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a50d21eea8fcc94546f6534390f82367b19b79c79cfea1b34c71e4ad56a4985b"
  },
  "id": "u7ndBzsVKJjOTpSX",
  "tags": []
}
